# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

.angular

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

public/
dist/andresjosehr-portfolio/Calibre-Light.woff
dist/andresjosehr-portfolio/Calibre-Light.woff2
dist/andresjosehr-portfolio/Calibre-LightItalic.woff
dist/andresjosehr-portfolio/Calibre-LightItalic.woff2
dist/andresjosehr-portfolio/Calibre-Medium.woff
dist/andresjosehr-portfolio/Calibre-Medium.woff2
dist/andresjosehr-portfolio/Calibre-MediumItalic.woff
dist/andresjosehr-portfolio/Calibre-MediumItalic.woff2
dist/andresjosehr-portfolio/Calibre-Regular.woff
dist/andresjosehr-portfolio/Calibre-Regular.woff2
dist/andresjosehr-portfolio/Calibre-RegularItalic.woff
dist/andresjosehr-portfolio/Calibre-RegularItalic.woff2
dist/andresjosehr-portfolio/Calibre-Semibold.woff
dist/andresjosehr-portfolio/Calibre-Semibold.woff2
dist/andresjosehr-portfolio/Calibre-SemiboldItalic.woff
dist/andresjosehr-portfolio/Calibre-SemiboldItalic.woff2
dist/andresjosehr-portfolio/fa-brands-400.eot
dist/andresjosehr-portfolio/fa-brands-400.svg
dist/andresjosehr-portfolio/fa-brands-400.ttf
dist/andresjosehr-portfolio/fa-brands-400.woff
dist/andresjosehr-portfolio/fa-brands-400.woff2
dist/andresjosehr-portfolio/fa-regular-400.eot
dist/andresjosehr-portfolio/fa-regular-400.svg
dist/andresjosehr-portfolio/fa-regular-400.ttf
dist/andresjosehr-portfolio/fa-regular-400.woff
dist/andresjosehr-portfolio/fa-regular-400.woff2
dist/andresjosehr-portfolio/fa-solid-900.eot
dist/andresjosehr-portfolio/fa-solid-900.svg
dist/andresjosehr-portfolio/fa-solid-900.ttf
dist/andresjosehr-portfolio/fa-solid-900.woff
dist/andresjosehr-portfolio/fa-solid-900.woff2
dist/andresjosehr-portfolio/index.html
dist/andresjosehr-portfolio/main.js
dist/andresjosehr-portfolio/main.js.map
dist/andresjosehr-portfolio/owl.video.play.png
dist/andresjosehr-portfolio/polyfills.js
dist/andresjosehr-portfolio/polyfills.js.map
dist/andresjosehr-portfolio/runtime.js
dist/andresjosehr-portfolio/runtime.js.map
dist/andresjosehr-portfolio/scripts.js
dist/andresjosehr-portfolio/scripts.js.map
dist/andresjosehr-portfolio/SFMono-Medium.woff
dist/andresjosehr-portfolio/SFMono-Medium.woff2
dist/andresjosehr-portfolio/SFMono-MediumItalic.woff
dist/andresjosehr-portfolio/SFMono-MediumItalic.woff2
dist/andresjosehr-portfolio/SFMono-Regular.woff
dist/andresjosehr-portfolio/SFMono-Regular.woff2
dist/andresjosehr-portfolio/SFMono-RegularItalic.woff
dist/andresjosehr-portfolio/SFMono-RegularItalic.woff2
dist/andresjosehr-portfolio/SFMono-Semibold.woff
dist/andresjosehr-portfolio/SFMono-Semibold.woff2
dist/andresjosehr-portfolio/SFMono-SemiboldItalic.woff
dist/andresjosehr-portfolio/SFMono-SemiboldItalic.woff2
dist/andresjosehr-portfolio/styles.css
dist/andresjosehr-portfolio/styles.css.map
dist/andresjosehr-portfolio/vendor.js
dist/andresjosehr-portfolio/vendor.js.map
dist/andresjosehr-portfolio/assets/i18n/en.json
dist/andresjosehr-portfolio/assets/images/logo.png
dist/andresjosehr-portfolio/assets/images/educline-landing/educline.png
dist/andresjosehr-portfolio/assets/images/educline-landing/educline2.png
dist/andresjosehr-portfolio/assets/images/fotriem/8a8157eb-80ed-485c-bdfc-1bb6104d1fe1.png
dist/andresjosehr-portfolio/assets/images/fotriem/8a55729f-a991-4afc-8558-2901ddcbfa1f.png
dist/andresjosehr-portfolio/assets/images/fotriem/9a601c79-95d3-4af2-8588-aa57ee11717e.png
dist/andresjosehr-portfolio/assets/images/fotriem/a744f78f-2cf0-43bb-9277-b54ad01938f3.png
dist/andresjosehr-portfolio/assets/images/fotriem/e2378ceb-82c7-4bb3-a0c0-0faa17481b74.png
dist/andresjosehr-portfolio/assets/images/fotriem-directorio/34d65a63-1991-4a24-bc46-14f54a277e94.png
dist/andresjosehr-portfolio/assets/images/fotriem-directorio/92f8152e-b6e1-4fa6-8691-d72505298ef7.png
dist/andresjosehr-portfolio/assets/images/fotriem-directorio/cde1b07b-2146-4a0f-b560-1acd0e6a46e2.png
dist/andresjosehr-portfolio/assets/images/gisselle/Captura de pantalla 2024-05-19 115514.png
dist/andresjosehr-portfolio/assets/images/gisselle/Captura de pantalla 2024-05-19 115633.png
dist/andresjosehr-portfolio/assets/images/gisselle/Captura de pantalla 2024-05-19 115702.png
dist/andresjosehr-portfolio/assets/images/gisselle/Captura de pantalla 2024-05-19 115829.png
dist/andresjosehr-portfolio/assets/images/gisselle/Captura de pantalla 2024-05-19 1009582.png
dist/andresjosehr-portfolio/assets/images/globaljobs/capture1.1.png
dist/andresjosehr-portfolio/assets/images/globaljobs/capture1.png
dist/andresjosehr-portfolio/assets/images/globaljobs/capture2.png
dist/andresjosehr-portfolio/assets/images/globaljobs/capture3.png
dist/andresjosehr-portfolio/assets/images/globaljobs/capture4.png
dist/andresjosehr-portfolio/assets/images/globaljobs/capture5.png
dist/andresjosehr-portfolio/assets/images/globaljobs/capture6.png
dist/andresjosehr-portfolio/assets/images/mbelectronics/capture1.2.png
